extends layout
block content
    .container.main-page
        .row
            .col.s4
                include main_sidebar
            .col.s8
                .row
                    h5.center-align Выпуск № #{relese} Год: #{year_rel}
                    each r, i in data
                        .col.s12
                            .card.z-depth-3.article-list-box
                                h5.center-align
                                    a(href="/uploads/files/"+ r.downloadLink, target="_blank") #{r.title}
                                each y, j in r.author
                                    .chip
                                        | #{y.name}
                                        i.material-icons close
                                .divider
                                br
                                p.flow-text
                                    | !{r.annotationRU}
                                br
                                p.flow-text
                                    | !{r.annotationEN}

                                .card-action
                                    a.waves-effect.waves-teal.right-align(href="/uploads/files/"+ r.downloadLink, target='_blank') Скачать файл